@model List<Events>

<h2>Events</h2>

@*<div style="display: block">
    <a href="/Events/InsertProduct/">Events</a>
</div>*@

<table class="table">
    <tr>
        <th>Type</th>
        <th>Date/Time</th>
        <th>Venue</th>
        <th>Link</th>
    </tr>

    @foreach (var item in @events)
    {
        <tr>
            <td><a href=/Events/ViewProduct/@item.Type>@item.Type</a></td>
            <td>@item.Type</td>
            <td>@item.Date/Time</td>
            <td>@item.Venue</td>
            <td>@item.Link</td>
        </tr>
    }

</table>
